{% load static %}
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/src/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'plugins/src/mousetrap/mousetrap.min.js' %}"></script>
<script src="{% static 'plugins/src/waves/waves.min.js' %}"></script>
<script src="{% static 'layouts/app.js' %}"></script>
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/src/sweetalerts2/sweetalerts2.min.js' %}"></script>
<script src="{% static 'plugins/src/sweetalerts2/custom-sweetalert.js' %}"></script>
<script src="{% static 'plugins/src/notification/snackbar/snackbar.min.js' %}"></script>
<script src="{% static 'assets/js/components/notification/custom-snackbar.js' %}"></script>
