{% load static %}
<link href="{% static 'layouts/css/light/loader.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'layouts/loader.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'layouts/css/light/plugins.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/src/sweetalerts2/sweetalerts2.css' %}" rel="stylesheet" >
<link href="{% static 'plugins/src/notification/snackbar/snackbar.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/light/components/list-group.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/light/widgets/modules-widgets.css' %}" rel="stylesheet" type="text/css" > 

<link href="{% static 'assets/css/light/elements/alert.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'assets/css/light/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/light/components/modal.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/light/apps/contacts.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/light/apps/notes.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/light/users/account-setting.css' %}" rel="stylesheet" type="text/css" />



<style>
    body.dark .layout-px-spacing, .layout-px-spacing {
        min-height: calc(100vh - 155px) !important;
    }
</style>