{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="col-md-12">
        {% include "note/partials/search_form.html" %}

        <div class="row app-notes layout-top-spacing" id="cancel-row" hx-ext="response-targets">
            <div class="col-lg-12">
                <div class="app-hamburger-container">
                    <div class="hamburger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none">
                            <line x1="3" y1="12" x2="21" y2="12"></line>
                            <line x1="3" y1="6" x2="21" y2="6"></line>
                            <line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg>
                    </div>
                </div>
                <div class="app-container">
                    <div class="app-note-container">
                        <div class="app-note-overlay"></div>
                        {% include "note/partials/side_tab.html" %}
                        {% include "note/partials/note_list.html" %}

                        {% for note in notes %}
                            {% include "note/partials/edit_note_modal.html" with note=note %}
                        {% endfor %}
                    </div>
                </div>
                {% include "note/partials/create_note_modal.html" %}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        // Form reset
        const resetForm = (formId) => {
            const form = document.getElementById(formId);
            form?.reset();

            // Manually clear textarea fields to override HTMX re-rendered values
            form.querySelectorAll("textarea").forEach((textarea) => {
                textarea.value = "";
            });

            form.querySelectorAll("input[type='text']").forEach((textInputs) => {
                textInputs.value = "";
            });
        
            // Remove "is-invalid" class from fields, if any exist
            const invalidFields = form.querySelectorAll(".is-invalid");
            if (invalidFields.length > 0) {
                invalidFields.forEach((field) => {
                    field.classList.remove("is-invalid");
                });
            }

            // Clear text from invalid-feedback elements, if any exist
            const errorMessages = form.querySelectorAll(".invalid-feedback");
            if (errorMessages.length > 0) {
                errorMessages.forEach((errorEl) => {
                    errorEl.textContent = "";
                    errorEl.style.display = "none";
                });
            }
        };

        // on discard modal
        const onDiscardModal = (noteId) => {
            resetForm("create-note-form");
        };

        // Handle note creation
        const handleNoteCreation = (event) => {
            const xhr = event.detail.xhr;

            // Only run if the request returned 201
            if (xhr.status === 201) {
                // Close the modal
                var modal = bootstrap.Modal.getInstance(document.querySelector("#add-note-modal"));
                if (modal) modal.hide();

                // Rest form
                resetForm("create-note-form");
                
                // Get the HX-Trigger header
                const triggerHeader = xhr.getResponseHeader("HX-Trigger");

                if (triggerHeader) {
                    try {
                        const triggers = JSON.parse(triggerHeader);
                        const message = triggers.noteCreated.message;

                        if (message) {
                            // Show the message
                            Snackbar.show({
                                showAction: false,
                                text: message, 
                                pos: "top-right",
                                actionTextColor: "#fff",
                                backgroundColor: "#00ab55"
                            });
                        }
                    } catch (error) {
                        Snackbar.show({
                            showAction: false,
                            text: error, 
                            pos: "top-right",
                            actionTextColor: "#fff",
                            backgroundColor: "#e7515a"
                        });
                    }
                }
            }
        };

        // Handle note edit
        const handleNoteEdit = (event) => {
            const xhr = event.detail.xhr;

            // Only run if the request returned 201
            if (xhr.status === 201) {
                // Get the HX-Trigger header
                const triggerHeader = xhr.getResponseHeader("HX-Trigger");

                if (triggerHeader) {
                    try {
                        const triggers = JSON.parse(triggerHeader);
                        const noteId = triggers.noteUpdated.noteId;
                        const message = triggers.noteUpdated.message;

                        if (noteId) {
                            // Close the modal
                            var modal = bootstrap.Modal.getInstance(document.getElementById(`edit-note-modal-${noteId}`));
                            if (modal) modal.hide();
                        }

                        if (message) {
                            // Show the message
                            Snackbar.show({
                                showAction: false,
                                text: message, 
                                pos: "top-right",
                                actionTextColor: "#fff",
                                backgroundColor: "#00ab55"
                            });
                        }
                    } catch (error) {
                        Snackbar.show({
                            showAction: false,
                            text: error, 
                            pos: "top-right",
                            actionTextColor: "#fff",
                            backgroundColor: "#e7515a"
                        });
                    }
                }
            }
        };

        // Handle note deletion
        const handleNoteDeletion = (event) => {
            const xhr = event.detail.xhr;

            // Only run if the request returned 201
            if (xhr.status === 201) {
                
                // Get the HX-Trigger header
                const triggerHeader = xhr.getResponseHeader("HX-Trigger");

                if (triggerHeader) {
                    try {
                        const triggers = JSON.parse(triggerHeader);
                        const message = triggers.noteDeleted.message;

                        if (message) {
                            // Show the message
                            Snackbar.show({
                                showAction: false,
                                text: message, 
                                pos: "top-right",
                                actionTextColor: "#fff",
                                backgroundColor: "#00ab55"
                            });
                        }
                    } catch (error) {
                        Snackbar.show({
                            showAction: false,
                            text: error, 
                            pos: "top-right",
                            actionTextColor: "#fff",
                            backgroundColor: "#e7515a"
                        });
                    }
                }
            }
        };
    </script>
{% endblock %}