<form
    id="create-note-form"
    novalidate
>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex note-title">
                {{ form.title }}
            </div>
            {% if form.title.errors %}
                <span class="d-block mt-1 invalid-feedback">
                    {{ form.title.errors|join:", " }}
                </span>
            {% endif %}
        </div>
        
        <div class="col-md-12">
            <div class="d-flex note-description">
                {{ form.description }}
            </div>
            {% if form.description.errors %}
                <span class="d-block mt-1 invalid-feedback">
                    {{ form.description.errors|join:", " }}
                </span>
            {% endif %}
        </div>
        
        {% if form.non_field_errors %}
            <div class="col-md-12">
                <div class="alert alert-danger mt-2">
                    {{ form.non_field_errors|join:", " }}
                </div>
            </div>
        {% endif %}
    </div>
</form>