<div class="row">
    <!-- Search Form -->
    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
        <form class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <input 
                    hx-get="{% url 'note:note_search' %}"
                    hx-trigger="keyup changed, search"
                    hx-target="#note-list"
                    
                    type="search"
                    name="search" 
                    class="form-control product-search"
                    placeholder="Search by title or description"
                >
            </div>
        </form>
    </div>
</div>